@media (min-aspect-ratio: 1/1) {
    @media only screen and ( min-width: 1730px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 1598px) and (max-width: 1729px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 820px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 750px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 1260px) and (max-width: 1420px) {
        .hashtagButton{
            width: 120px;
            height: 40px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.1rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1240px) {
        .hashtagButton{
            width: 120px;
            height: 40px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.1rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 701px ) and (max-width: 950px) and (min-height: 280px) and (max-height: 600px) {
        .hashtagButton{
            width: 120px;
            height: 30px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 0.9rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 500px ) and (max-width: 700px) and (min-height: 200px) and (max-height: 380px) {
        .hashtagButton{
            width: 120px;
            height: 30px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 0.8rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    @media only screen and (min-width: 1000px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 990px) and (min-height: 800px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 400px) and (max-width: 600px) and (min-height: 700px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
        .hashtagButton{
            width: 150px;
            height: 50px;
            border: 1px solid #f5f5f5;
            border-radius: 25px;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;
            pointer-events: all;
            overflow: hidden;
            .hashtagButton__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                overflow: hidden;
                z-index: 2;
                cursor: pointer;
                .hashtagButton__label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
        
                    span{
                        position: relative;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #fff;
                        text-transform: none;
                        font-family: Helvetica;
                    }
                }
            }
        
            .hashtagButton__background{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                scale: 1;
                background: linear-gradient(to right, #0F4A57, #039ca4);
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}