@media (min-aspect-ratio: 1/1) {
    @media only screen and ( min-width: 1730px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 6rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 10rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 50%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 1598px) and (max-width: 1729px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 80%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 6rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 10rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }

                
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 50%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 820px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 8rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 50%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 750px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 8rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 50%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 1260px) and (max-width: 1420px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 4rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 6rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width:60%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.1rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1240px) {
        .WID__intro{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 4rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 6rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 60%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.1rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 701px ) and (max-width: 950px) and (min-height: 280px) and (max-height: 600px) {
        .WID__intro{
            width: 100vw;
            height: 140vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 3rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 4rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 60%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 0.8rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 500px ) and (max-width: 700px) and (min-height: 200px) and (max-height: 380px) {
        .WID__intro{
            width: 100vw;
            height: 130vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 2rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 3rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 60%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 80%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.2; 
                    
           
                    span {
                        display: inline; 
                        font-size: 0.7rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    @media only screen and (min-width: 1000px) {
        .WID__intro{
            width: 100vw;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 80%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 4rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 6rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            .WID__intro__desc {
                width: 80%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 50%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 990px) and (min-height: 800px) {
        .WID__intro{
            width: 100vw;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 5vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 80%;
                height: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 3rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 4rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 80%;
                height: auto; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 80%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 400px) and (max-width: 600px) and (min-height: 700px) {
        .WID__intro{
            width: 100vw;
            height: 60vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 10vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 85%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 2.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 4rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            .WID__intro__desc {
                width: 90%;
                height: 100%; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 90%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
        .WID__intro{
            width: 100vw;
            height: 60vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 10vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 2.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{ 
                            font-size: 4rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 90%;
                height: 100%; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 90%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
        .WID__intro{
            width: 100vw;
            height: 80vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            position: relative;
            gap: 2.5vw;
            padding: 10vh 5vw 5vh 5vw;
            overflow: hidden;
        
            .WID__intro__text{
                width: 100%;
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
        
                h2{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
        
                    span{
                        font-size: 2.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin: 0;
                         // Text gradient implementation
                        background: linear-gradient(90deg, #0F4A57, #039ca4);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    &:nth-of-type(2){
                        span{
                            font-size: 3rem;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #0F4A57, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
                .WID__intro__desc {
                width: 90%;
                height: 100%; 
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2.5vw;
                overflow: visible; 
            
                .WID__intro__desc__text {
                    width: 90%;
                    height: 100%;
                    display: block; 
                    text-align: left;
                    line-height: 1.6; 
                    
           
                    span {
                        display: inline; 
                        font-size: 1rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        margin: 0;
                        white-space: normal;
                        color: #05050a;
                    }
                }
            }
            
        }
    }
}