@use './styles.scss' as styles;

body{
  width: 100vw;
  height: fit-content;
  margin: 0;
  font-family: "Arimo", sans-serif;
  background-color: #0F4A57;
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
  &::-webkit-scrollbar-thumb {
    width: 0px;
  }
  // scrollbar-width: none; //only for Firefox

}

.main{
  width: 100vw;
}
:root {
  --logo-color-on-light: #05050a; /* Logo color when on light background */
  --logo-color-on-dark: #ffffff;  /* Logo color when on dark background */
}