.trafika__main{
    position: relative;
    width: 100vw;
    height: 600vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDEFF3;

}