@media (min-aspect-ratio: 1/1) {
    @media only screen and ( min-width: 1730px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 10rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 1598px) and (max-width: 1729px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 10rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 820px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 8rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 1420px) and (max-width: 1596px) and (min-height: 750px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 8rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 1260px) and (max-width: 1420px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 7rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1240px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 6rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 701px ) and (max-width: 950px) and (min-height: 280px) and (max-height: 600px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 4.5rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 500px ) and (max-width: 700px) and (min-height: 200px) and (max-height: 380px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 3.5rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    @media only screen and (min-width: 1000px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 8rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                text-align: center;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 990px) and (min-height: 800px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 7rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                text-align: center;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 400px) and (max-width: 600px) and (min-height: 700px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 3.5rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                text-align: center;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 3rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                text-align: center;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
        .transition {
            position: relative;
            width: 100vw;
            border-radius: 50px;
            
        }
        
        .slide{
            position: fixed;
            top: 50vh;
            left: 0;
            width: 100vw;
            height: 50vh;
            z-index: 10;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #fff;
            border-radius: 100px 100px 0 0;
            z-index: 100;
        
        
            p{
                font-size: 3rem;
                font-weight: 300;
                color: #0F4A57;
                margin: 2;
                background: linear-gradient(90deg, #0F4A57, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                text-align: center;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;
                text-transform: uppercase;
            }
        }
    }
}
